APP_NAME="CartService"
APP_ENV=local
APP_KEY=base64:WILL_BE_SET_BY_ARTISAN
APP_DEBUG=true
APP_URL=http://localhost:8001

DB_CONNECTION=pgsql
DB_HOST=127.0.0.1
DB_PORT=5432
DB_DATABASE=cart_service_db
DB_USERNAME=postgres
DB_PASSWORD=your_password

JWT_SECRET=KBznXApFn5yuj3TfRpgWfJ7kBy9vj2jjBBmBFocKplU95iMgkS1M5VQy8qpE3HTO

AUTH_SERVICE_URL=http://localhost:3000/auth
ORDER_SERVICE_URL=http://localhost:3000/orders
PRODUCT_SERVICE_URL=http://localhost:3000/products
